.x-form-invalid-popup .x-tip-tc, .x-form-invalid-popup .x-tip-tl, .x-form-invalid-popup .x-tip-tr, .x-form-invalid-popup .x-tip-bc, .x-form-invalid-popup .x-tip-bl, .x-form-invalid-popup .x-tip-br, .x-form-invalid-popup .x-tip-ml, .x-form-invalid-popup .x-tip-mr {
    background-image:url("images/error-popup-corners.gif");
}

.x-form-invalid-popup .x-tip-body { 
	background:url("images/exclamation.gif") no-repeat scroll 2px 2px transparent;
	padding: 3px 0px 5px 24px;
}

.x-form-invalid-popup .x-tip-br {
    background-position:right -21px;
    padding-right: 5px; 
}

.x-form-invalid-popup .x-tip-bc {
    background-position:0 -34px;
}

.x-form-invalid-popup .x-tip-bl {
    background-position:left -21px;
    padding-left: 7px; 
}

.x-form-invalid-popup .x-tip-tc {
    background-position:0 -35px;
}

.x-form-invalid-popup .x-tip-tl {
    background-position:0 0;
    background-repeat: no-repeat;
}

.x-form-invalid-popup .x-tip-ml {
    background-position:0 -150;
    background-color:transparent;
}

.x-form-invalid-popup .x-tool {
	background-image: url(images/red-close.gif);
	margin-top: 2px;
}